div {

}

.box {
    height: 70px;
}

.sliderBar {
    height: 10px;
    width: 100%;
    background-color:rgba(83, 83, 83);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#sliderTrack {
    background-color: rgb(17, 199, 108);
    height: 100%;
    width: 100%;
    position: relative;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.boundaryMarkers {
    position: absolute;
}

#leftBoundaryMarker,
#rightBoundaryMarker {
    position: absolute;
    background-color: black;
    height: 20px;
    width: 6px;
    border-radius: 4px;
    top: -15px;
}



.userSlider {
    position: relative;
    top: -7px;
}

.userSlider > input {
    appearance: none;
    position: absolute;
    height: 0px;
    width: 100%;
    border-radius: 10px;
}

#userThumb::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid rgba(50,50,50,0.2);
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.1);

    transition: 0.3s ease;
    margin-left: -2px;
    opacity: 50%;
}

#userThumb::-webkit-slider-thumb:hover {
    height: 30px;
    width: 30px;
}

#userValueContainer {
    position: relative;
    top: -60px;
    text-align: center;
    width:50%;
}

#userValue {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

#buttonCheck {
    position:relative;
}
